/* MDC Overrides */
:root {
/*	--mdc-theme-primary: #424245;*/
/*	--mdc-theme-primary: #ffc68a;*/
	--mdc-theme-primary: #ffb05c;
	--mdc-theme-on-primary: #000;
/*	--mdc-theme-accent: #e65100;*/
	--mdc-theme-accent: #a4ade9;
}

.mdc-button {
	cursor: default;
}

/* Color the input labels using the theme color */
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label,
.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
	opacity: 0.87;
	color: var(--mdc-theme-primary);
}

/* Change the disabled button taxt and background color */
.mdc-button--raised:disabled, .mdc-button--unelevated:disabled {
	color: rgba(255 255 255 / .38);
	background: rgba(255 255 255 / .12)
}

/* Add a new class to color buttons using the accent color */
.mdc-button--raised:not(:disabled).mdc-button--accent {
	background-color: var(--mdc-theme-accent);
}